# Core functionality - changes here should be rare!
/src/app.py                   @balaj-sheikh-1
/src/backend/database.py      @balaj-sheikh-1
/src/backend/routers/auth.py  @balaj-sheikh-1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @balaj-sheikh-1
